In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# [idade, 6 labels, len(P), 32 coeficientes da onda P,len(QRS), 40 da QRS, len(T), 64 da T, len(batimento inteiro) 128 do batimento inteiro) 
# 1 + 6 + 1 + 32 + 1 + 40 + 1 + 64 + 1 + 128 = 275

In [3]:
# Importante notar que os dados aqui carregados ja foram normalizados pela media e desvio padrao, exceto os diagnosticos

In [4]:
db = np.load("data/db_crude.npy")

In [5]:
columns = ["age","1dVAb","RBBB","LBBB","SB","ST","AF"]
diag = ["1dVAb","RBBB","LBBB","SB","ST","AF"]

columns.append("len_P")
for i in range(32):
    columns.append("P_a_"+str(i))

columns.append("len_QRS")
for i in range(40):
    columns.append("QRS_a_"+str(i))

columns.append("len_T")
for i in range(64):
    columns.append("T_a_"+str(i))

columns.append("len_bat")
for i in range(128):
    columns.append("bat_a_"+str(i))

In [6]:
table = pd.DataFrame(data=db,columns=columns)

In [8]:
table.head()

,age,1dVAb,RBBB,LBBB,SB,ST,AF,len_P,P_a_0,P_a_1,...,bat_a_118,bat_a_119,bat_a_120,bat_a_121,bat_a_122,bat_a_123,bat_a_124,bat_a_125,bat_a_126,bat_a_127
0,78.0,0.0,1.0,0.0,0.0,0.0,0.0,4.0,0.000000,0.0,...,-0.102592,0.077092,-0.085197,-0.002399,-0.140835,-0.031682,-0.157457,0.000748,-0.135299,0.012698
1,78.0,0.0,1.0,0.0,0.0,0.0,0.0,12.0,0.873972,0.0,...,-0.119320,0.042212,-0.064489,0.018866,-0.091524,-0.000729,-0.083314,0.010122,-0.093541,-0.016833
2,78.0,0.0,1.0,0.0,0.0,0.0,0.0,16.0,0.773239,0.0,...,-0.032861,-0.031866,-0.000156,-0.006325,0.018967,0.005566,-0.036312,-0.085182,-0.003378,-0.026130
3,78.0,0.0,1.0,0.0,0.0,0.0,0.0,14.0,1.350993,0.0,...,-0.027463,-0.001140,-0.047255,0.044364,0.020192,-0.024986,-0.035386,0.004214,0.009963,-0.018035
4,78.0,0.0,1.0,0.0,0.0,0.0,0.0,10.0,0.013831,0.0,...,-0.016021,0.026329,-0.048829,-0.005043,-0.056160,0.108080,-0.032514,0.030724,-0.102817,0.005999

In [7]:
table.to_pickle("data/table.pkl")